nav {
  background:linear-gradient(rgba(0, 0, 0, 0.628), rgba(52, 51, 51, 0.343)), url(../images/sidebar.jpg);
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 28% 100%);
  -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 28% 100%);
  background-size: cover;
	height: calc(100vh - 48px) ;
	padding-top: 3rem;
  top: 0;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width:0;
  transition: .5s;
}

nav.open-menu {
  width: 60vw;
}

li {
	list-style: none;
	font-size:3rem;
	padding: 2.7rem 0 0 5rem;
  font-family:"Gentium Book Basic",serif;
  transition: .6s;
  cursor: pointer;
  &:hover{
    background-color: rgba(0, 0, 0, 0.256);
    width:70%;
    text-shadow: 2px 4px rgb(190, 0, 159)
  }
}
