nav {
  background: #0bd;
	height: calc(100vh - 48px) ;
	padding-top: 3rem;
  // top: 3.125rem;
  // right: 0;
  overflow-x: hidden;
  text-align: center;
  width:0;
  transition: .5s;
}

nav.open-menu {
  width: 60vw;
}

li {
	list-style: none;
	font-size:2rem;
	padding-top: 2rem;
}
